.messaging-panel__button-logout {
  position: absolute !important;
  left: 10px;
  top: 10px;
}

.messaging-panel__username {
  margin: 10px auto;
  font-size: 30px;
  color: rgb(99, 98, 99);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 40%;
  text-align: center;
}

.messaging-panel__button-online-offline {
  position: absolute !important;
  top: 10px;
  right: 10px;
}
